@page
@model SNA_Directory.Pages.NoDatabaseModel
@{
}
<h2 style="width:100%; text-align:center">Database not found</h2>
<p style="width:100%; text-align:center">This application expected to find a local MongoDB on port 27017 but could not connect.  Please verify that you have MongoDB installed.</p>
